<form action="Post" class ="form" [formGroup]="userRegisterForm" (ngSubmit)="onSubmit()">
<mat-card>
 <mat-card-header>
   Register
</mat-card-header>

    <mat-card-content>
      <mat-form-field>

            <input matInput placeholder="First Name" formControlName="firstName">
            <mat-error >
                {{errors.firstName}}
                </mat-error>
      </mat-form-field>
    </mat-card-content>

    <mat-card-content>
        <mat-form-field>

            <input matInput placeholder="Last Name" formControlName="lastName">
            <mat-error>
              {{errors.lastName}}
              </mat-error>
          </mat-form-field>
    </mat-card-content>

<div formGroupName="emailGroup">
    <mat-card-content>
        <mat-form-field>

            <input matInput placeholder="Email" formControlName="email">
            <mat-error>
              {{errors.email}}
              </mat-error>
          </mat-form-field>
    </mat-card-content>


    <mat-card-content>
        <mat-form-field>

            <input matInput  placeholder="Confirm your email" formControlName="confirmEmail">

          </mat-form-field>

    <mat-error class="groupErrors">
      {{errors.emailGroup}}
      </mat-error>
    </mat-card-content>
</div>

<div formGroupName="passwordGroup">
    <mat-card-content>
        <mat-form-field>

            <input matInput type="password" placeholder="Password" formControlName="password">
          <mat-error>
              {{errors.password}}
          </mat-error>
          </mat-form-field>
    </mat-card-content>


    <mat-card-content>
        <mat-form-field>

            <input matInput type="password" placeholder="Confirm your password" formControlName="confirmPassword">

          </mat-form-field>
          <mat-error class="groupErrors">
            {{errors.passwordGroup}}
        </mat-error>
    </mat-card-content>
</div>

<mat-card-actions align="start">
    <button mat-raised-button color="primary" type="submit" [disabled]="!userRegisterForm.valid">Submit</button>

  </mat-card-actions>

</mat-card>
  </form>
