<form action="Post" class="form" [formGroup]="userLoginForm" (ngSubmit)="onSubmit()">
  <mat-card>
   <mat-card-header>
     Login
  </mat-card-header>





      <mat-card-content>
          <mat-form-field>

              <input matInput placeholder="Email" formControlName="email">
              <mat-error>
                {{parseError('email')}}
                </mat-error>
            </mat-form-field>
      </mat-card-content>




      <mat-card-content>
          <mat-form-field>

              <input matInput type="password" placeholder="Password" formControlName="password">
            <mat-error>
                {{parseError('password')}}
            </mat-error>
            </mat-form-field>
      </mat-card-content>


  <mat-card-actions align="start">
      <button mat-raised-button color="primary" type="submit" >Login</button>
      <button mat-raised-button color="primary" [routerLink]="['/users/register']" >Register</button>
    </mat-card-actions>




  </mat-card>
    </form>
