<app-side-nav [navList]="categories" (selection)="onSelect($event)">



   <button mat-raised-button class = "firstPage" (click)="paginate('first')">First Page</button>
   <button mat-raised-button class = "firstPage" (click)="paginate('prev')">Prev Page</button>
   <button mat-raised-button class = "firstPage" (click)="paginate('next')">Next Page</button>
   <button mat-raised-button class = "firstPage" (click)="paginate('last')">Last Page</button>
    <mat-grid-list cols="3" rowHeight="1:1.3" role="list">

      <mat-grid-tile *ngFor='let ticket of tickets' role="listitem"><app-ticket-thumbnail [ticket]="ticket"></app-ticket-thumbnail></mat-grid-tile>
    </mat-grid-list>


  </app-side-nav>
