img {
width: auto;
height: 17vw;
max-width: 24vw;
}

.example-card {
  width: 23vw;
  height: 32vw;
}
mat-card-content {
  padding: 2vw;
  display: inline;
  margin-left: 4vw;
  font-size: 1vw;
}
mat-card-title {
  padding: 5px;
}

.mouseOver {
  background-color: chocolate;
}
