<mat-card class="example-card" role="region"  [routerLink]="['/tickets', ticket.ticketId]" (mouseleave)="onMouseLeave()" (mouseover)="onMouseOver()" [ngClass]="{'mouseOver': mouseOver }">
  <div>
  <mat-card-header>
    <mat-card-title>{{ticket.name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <div class="img-wrap">
  <img mat-card-image [src]="'http://localhost:3000/'+ticket.imageUrl">
          </div>
  </mat-card-content>
  <mat-card-content>
    <p>
      {{ticket?.description}}
    </p>
  </mat-card-content>

  <mat-card-content>
      <p>
        {{ticket?.location?.name}}
      </p>
    </mat-card-content>


    <mat-card-content>
        <p>
          {{ticket?.category?.name}}
        </p>
      </mat-card-content>
      </div>
</mat-card>
