.form {
  margin: 1vw;
}
.full-width {
  width: 100%;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  margin-right: 15px;
  width: 20%;
  margin-bottom: 2px;
  padding-bottom: 2px;
}

.col:last-child {
  width: 20%;
}

.mat-radio-button ~ .mat-radio-button {
  padding-right: 16px;
}
