<form action="Post" class="form" [formGroup]="ticketsForm" enctype="multipart/form-data" (ngSubmit)="onSubmit()" novalidate>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Add a new ticket</mat-card-title>
    </mat-card-header>
<mat-divider></mat-divider>
    <mat-card-content>

    <div class="row">

        <mat-radio-group formControlName="ask">
            <mat-radio-button  name ="ask" value="0" > Giving </mat-radio-button>
            <mat-radio-button  name = "ask" value="1"> Asking </mat-radio-button>
          </mat-radio-group>

    </div>

  </mat-card-content>


    <mat-card-content>
      <div class="row">
        <mat-form-field class="full-width">
          <input matInput placeholder="Ticket name" formControlName="name" id="name"required>
          <mat-error *ngIf="ticketsForm.controls['name'].invalid">
              {{parseError('name')}}
            </mat-error>
        </mat-form-field>
      </div>
    </mat-card-content>

    <mat-card-content>
      <div class="row">
        <mat-form-field class="full-width">
          <textarea matInput placeholder="Description" formControlName="description" required>
           </textarea>
           <mat-error *ngIf="ticketsForm.controls['description'].invalid">
            {{parseError('description')}}
            </mat-error>
        </mat-form-field>

      </div>
    </mat-card-content>

    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field>
            <mat-select placeholder="Location" formControlName="location" required>
              <mat-option *ngFor="let location of locations" [value]="location.name">
                {{location.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>

    <mat-card-content>
      <div class="row">
        <mat-form-field>
          <mat-select placeholder="Category" formControlName="category" required>
            <mat-optgroup *ngFor="let category of categories" [label]="category.name">

              <mat-option *ngFor="let subCategory of category.subCategories" [value]="subCategory.name">
                {{subCategory.name}}
              </mat-option>
            </mat-optgroup>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-card-content>

    <mat-card-content>
    <!-- <mat-form-field> -->
    <input type="file" (change)="onImageInput($event.target.files[0])" required>
  <!-- </mat-form-field> -->
  </mat-card-content>
    <mat-card-actions align="start">
      <button mat-raised-button color="accent" type="submit" [disabled]="!ticketsForm.valid||!image">Submit</button>

    </mat-card-actions>



  </mat-card>
</form>
