.mat-divider {
  width: 35vw;
  align-content: center;
}
img {
  max-width: 40vw;
  max-height: 30vw;
}
mat-card {
  width: 40vw;
  margin: 1.5vw;
}

mat-list {
  margin-top: 1vw;
  margin-left: 0.5vw;

}
