<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{ticket.name}}</mat-card-title>
    </mat-card-header>
    <img [src]="'http://localhost:3000/'+ticket.imageUrl" >
    <mat-divider></mat-divider>
<mat-list>
  <mat-list-item>
    <mat-card-content>

        {{ticket.description}}

    </mat-card-content>
  </mat-list-item>
    <mat-list-item>
    <mat-card-content>

          {{ticket.location?.name}}

      </mat-card-content>

    </mat-list-item>
  <mat-list-item>
      <mat-card-content>
            {{ticket.category?.name}}
        </mat-card-content>
      </mat-list-item>

        </mat-list>

        <a mat-raised-button color="primary" [routerLink]="['/tickets/', ticket.ticketId, 'update']" *ngIf="isUserOwner()">Update Your Ticket</a>
  </mat-card>
