<mat-toolbar color = "primary">
  <div>Gift It Forward</div>
  <mat-menu #appMenu="matMenu">
    <button mat-menu-item [routerLink]="['/tickets/userTickets']">My tickets</button>
    <button mat-menu-item [routerLink]="['/tickets/new']">Submit ticket</button>
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>
 <span class="userName" *ngIf="user">Hello, {{user.firstName}}<button mat-icon-button [matMenuTriggerFor]="appMenu" >
  <mat-icon>menu</mat-icon>
</button></span>

  <div class="userName" [routerLink]="['users/login']" *ngIf="!user">Login</div>

</mat-toolbar>


<mat-card >
<div class="col">
  <mat-card-actions>
    <button mat-raised-button color="primary" [routerLink]="['/home']" routerLinkActive="active">Home</button>

</mat-card-actions>
</div>

<div class="col">
  <mat-card-actions>
    <button mat-raised-button color="primary" [routerLink]="['/tickets']" [queryParams]="{ ask: 1 , page: 1, per_page: 6}" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Asks</button>
</mat-card-actions>
</div>

<div class="col">
  <mat-card-actions>
    <button mat-raised-button color="primary" [routerLink]="['/tickets']" [queryParams]="{ ask: 0, page: 1, per_page: 6 }" routerLinkActive="active">Gifts</button>
</mat-card-actions>
</div>

</mat-card>
<mat-divider></mat-divider>
