.col {
  margin-right: 30px;
  display: inline-flex;
}

.mat-card {
  padding: 15px;
  padding-bottom: 0px;
}
.active {
  color:darkblue;
}

.userName {
  position: absolute;
  right: 1em;
  color: aquamarine;
  cursor: pointer;

}
