<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav [mode]="'side'"  opened="true">
      <mat-nav-list>
        <a *ngFor="let nav of navList">
         <!-- <span *ngIf="isString(nav)">{{nav}}</span> -->
         <span *ngIf="!isString(nav)">
            <a class="mainCatName">{{nav.name}}</a>
            <a mat-list-item *ngFor="let subNav of nav.subCategories" (click)="onSelect(subNav)">{{subNav.name}}</a>
         </span>



        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
     <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

