<mat-grid-list cols="3" rowHeight="1:1.3" role="list">
  <mat-grid-tile *ngFor="let ticket of tickets" role="listitem"><app-ticket-thumbnail [ticket]="ticket"></app-ticket-thumbnail></mat-grid-tile>
</mat-grid-list>
